  <h2>Additional Resources</h2>
  <ul>
    <li>See <a href="http://googlemapsbook.com/">googlemapsbook.com</a> for more information, examples, and source code.</li>
    <li>See <a href="http://geokit.rubyforge.org">GeoKit at rubyforge</a> for an acts_as_mappable ActiveRecord mix-in with distance finders, wrappers around multiple geocoders, and more.</li>
    <li>See <a href="http://earthcode.com">Andre Lewis'</a> blog for ongoing commentary on mapping, RoR, and technology in general.</li>
  </ul>