/* [listing 6-3] */

html, body {
     margin: 0;
     padding: 0;
     height: 100%;
}

#map {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
/* [listing 6-3 end] */