
html { overflow: hidden; }

html, body {
     margin: 0;
     padding: 0;
     height: 100%;
}

#map {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

/* [listing 6-7] */
#map-wrapper {
     position: relative;
     height: 100%;
}

#sidebar {
     position: absolute;
     top: 0;
     width: 300px;
     height: 100%;
     overflow: auto;
}

body.sidebar-right #map-wrapper { margin-right: 300px; }
body.sidebar-right #sidebar { right: 0; }

body.nosidebar #map-wrapper { margin: 0; }
body.nosidebar #sidebar { display: none; }
/* [listing 6-7 end] */


#toolbar {
     position: absolute;
     top: 20px;
     left: 60px;
     width: 400px;
     padding: 5px;
     background: white;
     border: 1px solid black;
}

#toolbar h1 {
     margin: 0;
     font: bold 18px Helvetica, sans-serif;
}

#toolbar ul {
     list-style: none;
     padding: 0;
     margin: 0;
}

#toolbar ul li {
     display: inline;
}

#toolbar ul li a {
     padding: 3px 6px;
     color: #444;
     text-decoration: none;
     font-size: 12px;
}

#toolbar ul li a:hover {
     color: #aaa;
     background: #444;
}
