<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%=GOOGLE_MAPS_KEY%>" type="text/javascript"></script>
  <%=javascript_include_tag 'prototype','chap_six_finished_map'%>
  <script type="text/javascript">
  var markers=<%=@towers.to_json%>;
  </script>
  <%=stylesheet_link_tag 'style_6_three_panels'%>
</head>
<body id="body">
  <div id="toolbar">
    <h1>Cell-Tower Locations</h1>
    <ul id="filters">
      <li><a href="#">Towers</a></li>
      <li><a href="#">Poles</a></li>
      <li><a href="#">Masts</a></li>
      <li><a href="#">Other</a></li>
    </ul>
    <ul id="sidebar-controls">
      <li><%=link_to_function 'hide',"Element.addClassName('body','sidebar-off')",{:id=>'button-sidebar-hide'}%></li>
      <li><%=link_to_function 'show',"Element.removeClassName('body','sidebar-off')",{:id=>'button-sidebar-show'}%></li>
    </ul>
  </div>
   
  <div id="content">
    <div id="map-wrapper">
      <div id="map"></div>
    </div>
    <div id="sidebar">
     <ul id="sidebar-list">
      <%@towers.each do |tower|%>
        <li id="sidebar-item-<%=tower.id%>">
          <%=link_to_function "<strong>#{tower.address}</strong> #{tower.city}, #{tower.state} (#{tower.height}m", "focusPoint(#{tower.id})"%>
        </li>
      <%end%>
    </div>
  </div>
</body>
</html>
