<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Google Maps with Rails and Ajax Example site</title>
  <%=stylesheet_link_tag 'navigation.css' %>
</head>
<body>
  <div class="title">
    <h2><%=link_to 'Beginning Google Maps Applications with Rails and Ajax', home_url %></h2>
    <div class="subtitle">From Novice to Professional</div>
  </div>
  
  <%=yield%>

</body>
</html>